/* Estilos do formulário */
form {
    width: 23%;
    margin: 0 auto;
  }
  
label {
    display: block;
    margin-bottom: 10px;
  }

  
  
input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;margin-bottom: 10px;
  }

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
textarea {
    width: 95%;
    padding: 10px;
    padding-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }

input[type="submit"] {
    width: 100%;
    background-color: #1d191d;
    color: #fff;
    cursor: pointer;
  }
  
input[type="submit"]:hover {
    opacity: 0.8;
  }
  
/* Alinhamento dos campos de seleção */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path d="M1.4 10.2L16 24.8l14.6-14.6c.8-.8.8-2 0-2.8s-2-.8-2.8 0L16 19.2l-11.8-11.8c-.8-.8-2-.8-2.8 0s-.8 2 0 2.8z"/></svg>') no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
  
.content {
    margin-top: 50px;
  }

.form-description {
    text-align: center;
    margin-bottom: 30px;
  }
  
.form-description h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
.form-description p {
    color: #272727;
    font-size: 24px;
  }
/* Estilo para o campo de telefone */
.phone-input {
  display: flex;
  align-items: center;
}

.phone-input select {
  padding: 10px 35px 10px 10px; /* Adiciona espaçamento interno no elemento select */
  font-size: 16px;
  width: 80px; /* Largura reduzida para exibir apenas o código do país */
  margin-right: 5px; /* Espaçamento entre o campo de seleção de país e o campo de número */
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; /* Ajusta a posição do background */
  background-size: 10px auto;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.phone-input select option {
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
}

.phone-input input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}


.phone-input input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  width: 500px;
  margin-right: 10px;
  text-align: left;
}

/* Responsividade */
@media (max-width: 800px) {
  form {
    width: 80%;
    padding: 0 20px;
  }
  .form-description p {
    font-size: 18px;
    margin: 10px;
  }
  .form-description h2 {
    font-size: 26px;
  }
}
  
